<!DOCTYPE html>
<html lang="en">

    <%- include('layout/metadata.ejs') %>
    
<body>
    
    <%- include('layout/menubar.ejs') %>
    <section id="interface">
        
        <%- include('layout/navbar.ejs') %>

        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">
            <div class="val-box box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>365</h3>
                    <span>Employees</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-solid fa-location-pin"></i>
                <div>
                    <h3>87</h3>
                    <span>MCPs</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-solid fa-truck"></i>
                <div>
                    <h3>413</h3>
                    <span>Vehicles</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-regular fa-comments"></i>
                <div>
                    <h3>15</h3>
                    <span>New Feedbacks</span>
                </div>
            </div>
        </div>

        <%- include('layout/chat.ejs') %>

        <!-- <div class="board">
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Role</td>
                        <td>Status</td>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td class="employeID">
                            <p>1</p>
                        </td>
                        <td class="people">
                            <img src="/assets/img/logo.png" alt="">
                            <h5>John Cena</h5>
                        </td>

                        <td class="role">
                            <p></p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div> -->
        <%- include('layout/chat.ejs') %>

        <%- include('layout/footer.ejs') %>
    </section>

</body>
<%- include('layout/scripts.ejs') %>
</html>