<!DOCTYPE html>
<html lang="en">

    <%- include('layout/metadata.ejs') %>

	<body>
		<%- include('layout/menubar.ejs') %>

		<section id="interface">
			<%- include('layout/navbar.ejs') %>

			<h3 class="i-name">
				<a href="">Nhân viên</a>
				>
				<a href="">Nguyễn Văn An</a>
			</h3>

			<div class="container">
				<div class="leftpane">
					<h1 class="personal_info">Thông tin nhân viên</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Công việc:</h3>
							<h3 class="inf_2">Tài xế xe rác</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Quản lý:</h3>
							<h3 class="inf_2">Bruno Fernandes</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Mã số nhân viên:</h3>
							<h3 class="inf_2">COL_01</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Mã số xe rác:</h3>
							<h3 class="inf_2">TRK_01</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Trạng thái:</h3>
							<h3 class="inf_2">Chưa giao việc</h3>
						</div>
					</div>
					<h1 class="personal_info">Quá trình làm việc</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Số lần thu rác:</h3>
							<h3 class="inf_2">400</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Giải thưởng:</h3>
							<h3 class="inf_2">4</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Thời gian làm:</h3>
							<h3 class="inf_2">1 Năm 7 tháng</h3>
						</div>
					</div>
				</div>
				<div class="middlepane">
					<img
						class="employee_avatar"
						src="/assets/img/eimg5.jpg"
						alt="avatar of employee"
					/>
					<hr />
					<h1 class="collector_name">Nguyễn Văn An</h1>
					<h3 class="introduction">Nhân viên thu gom rác</h3>
					<hr />
					<a class="btn" href="">Schedule</a>
					<a class="btn" href="">Route</a>
				</div>
				<div class="rightpane">
					<h1 class="personal_info">Thông tin cá nhân</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Họ và tên:</h3>
							<h3 class="inf_2">Nguyễn Văn An</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Ngày sinh:</h3>
							<h3 class="inf_2">24-09-1992</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Giới tính:</h3>
							<h3 class="inf_2">Nam</h3>
						</div>
					</div>
					<h1 class="personal_info">Thông tin liên lạc</h1>
					<div class="information">
						<div class="info">
							<h3 class="inf_1">Email:</h3>
							<h3 class="inf_2">lil.kauffman@gmail.com</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Số điện thoại:</h3>
							<h3 class="inf_2">+447975777666</h3>
						</div>
						<div class="info">
							<h3 class="inf_1">Địa chỉ:</h3>
							<h3 class="inf_2">Quận 3, Thành phố Thanh Hoá, Tỉnh Thanh Hoá</h3>
						</div>
					</div>
				</div>
			</div>

			<%- include('layout/chat.ejs') %>

        	<%- include('layout/footer.ejs') %>

		</section>

		<%- include('layout/scripts.ejs') %>
	</body>
</html>
