<!DOCTYPE html>
<html lang="en">

    <%- include('layout/metadata.ejs') %>

<body>
    
    <%- include('layout/menubar.ejs') %>
    <section id="interface">
        
        <%- include('layout/navbar.ejs') %>
    
        <div class="t_header">
        <!--breadcrumb here
            <div class="t_header.content">
                <ul class="breadcrumbs">
                    
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">Home</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">Media</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">Photos</a>
                    </li>
                    
                    <li class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link breadcrumbs__link--active">Employees</a>
                    </li>
                </ul>
            </div> -->
            <h1>UWC2.0 | DANH SÁCH PHƯƠNG TIỆN</h1>
            <div class="delcard1" id="sample-employee-card">
                <h1 class="til1">Thông tin phương tiện</h1>
                <h3></h3>
                <h4>Chọn phương tiện để hiển thị thông tin của họ </h4>
                
                <!--
                <h3 class="card-subtitle my-2 text-muted">Select a patient to view their detailed information (phone, comorbidities...)</h3>
                <img src="/static/assets/img/brand/blue_square.png" class="img-fluid" alt="">
                 SAMPLE CARD END -->
            </div>   
            <div class="delcard" id="Employee Details" style="display: none;">
                <h1 class="til1"><pre>Thông tin phương tiện</h1>
                <div class="image-cropper">
                    <img id ="avatar" src=""/>
                </div>

                <h4 id="patient-name"></h4>
                <h4 id="patient-position"></h4>
                <h4 id="patient-age"></h4>
                <h4 id="gender"></h4>
                <h4 id="patient-startdate"></h4>
                <h4 id="patient-status"></h4>
                
                <!-- HTML !-->
                
            </div>   
            <div class="delcard1" id="vecdel" style="display: none;">
                <h1 class="h1"><pre>Thông tin hoạt động                                 Tải trọng</pre></h1>
                

                <h4 id="emp"></h4>
                <h4 id="work-status"></h4>
                <h4 id="wloc"></h4>

                <div class="flex-wrapper" >
                    <div class="single-chart">
                      <svg id="load" viewBox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-bg"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path id="per" class="circle"
                          stroke-dasharray="90, 100"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text id="per_text" x="18" y="20.35" class="percentage">70%</text>
                      </svg>
                    </div>
                    
                </div>
                <!-- HTML !-->
                
            </div> 
            
        </div>
  
        


        <table id="example" class="display" style="width: 100%">
            <thead>
                <tr>
                    <th class="dt-head-center">ID</th>
                    <th class="dt-head-center">imgsrc</th>
                    <th class="dt-head-center">Loại</th>
                    <th class="dt-head-center">Ngày</th>
                    <th class="dt-head-center">Trạng thái</th>
                    <th class="dt-head-center">Mã phương tiện</th>
                    <th class="dt-head-center">Mã nhân viên</th>
                    <th class="dt-head-center">Tên nhân viên</th>
                    <th class="dt-head-center">loc</th>

                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>TRK_01</td>
                    <td>https://thegioixetai.com/image/shop_thumbnail/anh-dai-dien/ISUZU/FVR34L/xe-ep-rac-isuzu-20-khoi-fvr34l.jpg</td>
                    <td>Xe chở rác thải</td>
                    <td class="dt-center">2011-05-03</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>FVR34L</td>
                    <td>COL_01</td>
                    <td>Nguyễn Văn An</td>
                    <td>Chưa có</td>


                </tr>
                <tr>
                    <td>TRL_01</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2009-08-19</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_01</td>
                    <td>Ngô Hải Nam</td>
                    <td>MCP_01</td>
  
                </tr>
                <tr>
                    <td>TRL_02</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2013-08-11</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_02</td>
                    <td>Nguyễn Văn Tú</td>
                    <td>MCP_01</td>

                </tr>
                <tr>
                    <td>TRL_03</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2009-07-07</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_03</td>
                    <td>Đoàn Ngọc Hải</td>
                    <td>MCP_02</td>

                </tr>
                <tr>
                    <td>TRK_02</td>
                    <td>https://thegioixetai.com/image/shop_thumbnail/anh-dai-dien/ISUZU/FVR34L/xe-ep-rac-isuzu-20-khoi-fvr34l.jpg</td>
                    <td>Xe chở rác thải</td>
                    <td class="dt-center">2012-04-09</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>FVR34L</td>
                    <td>COL_02</td>
                    <td>Chu Hùng Mạnh</td>
                    <td>Tuyến số 2</td>


                </tr>
                <tr>
                    <td>TRK_03</td>
                    <td>https://thegioixetai.com/image/shop_thumbnail/anh-dai-dien/ISUZU/FVR34L/xe-ep-rac-isuzu-20-khoi-fvr34l.jpg</td>
                    <td>Xe chở rác thải</td>
                    <td class="dt-center">2010-01-04</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>FVR34L</td>
                    <td>COL_03</td>
                    <td>Châu Hoàng Đức</td>
                    <td>Tuyến số 3</td>


                </tr>
                <tr>
                    <td>TRK_04</td>
                    <td>https://thegioixetai.com/image/shop_thumbnail/anh-dai-dien/ISUZU/FVR34L/xe-ep-rac-isuzu-20-khoi-fvr34l.jpg</td>
                    <td>Xe chở rác thải</td>
                    <td class="dt-center">2012-06-01</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>FVR34L</td>
                    <td>COL_04</td>
                    <td>Phạm Minh Khôi</td>
                    <td>Tuyến số 1</td>

                </tr>
                <tr>
                    <td>TRL_04</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2013-02-01</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_04</td>
                    <td>Nguyễn Phi Nhung</td>
                    <td>MCP_02</td>

                </tr>
                <tr>
                    <td>TRL_05</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2011-12-06</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_05</td>
                    <td>Lưu Xuân Thảo</td>
                    <td>MCP_03</td>


                </tr>
                <tr>
                    <td>TRL_06</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2011-03-21</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_06</td>
                    <td>Đào Thị Xuyến</td>
                    <td>MCP_03</td>

                </tr>
                <tr>
                    <td>TRL_07</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2009-02-27</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_07</td>
                    <td>Vũ Trọng Phúc</td>
                    <td>MCP_04</td>

                </tr>
                <tr>
                    <td>TRL_08</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2010-07-14</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_08</td>
                    <td>Trịnh Xuân Khanh</td>
                    <td>MCP_04</td>


                </tr>
                <tr>
                    <td>TRL_09</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.pngg</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2008-11-13</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_09</td>
                    <td>Phùng Bá Tánh</td>
                    <td>MCP_05</td>


                </tr>
                <tr>
                    <td>TRL_10</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2011-06-27</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_10</td>
                    <td>Đỗ Thanh Minh</td>
                    <td>MCP_05</td>

                </tr>
                <tr>
                    <td>TRL_11</td>
                    <td>https://sgplastic.com.vn/uploads/images/2021/09/1631468987-single_product1-tr660compositexanh.png</td>
                    <td>Thùng gom rác</td>
                    <td class="dt-center">2011-01-25</td>
                    <td class="dt-center">Đang được sử dụng</td>
                    <td>C660L</td>
                    <td>JAN_11</td>
                    <td>Lưu Minh Hiếu</td>
                    <td>MCP_06</td>


                </tr>
            </tbody>
            <tfoot>
                    <th class="dt-head-center">ID</th>
                    <th class="dt-head-center">imgsrc</th>
                    <th class="dt-head-center">Loại</th>
                    <th class="dt-head-center">Ngày</th>
                    <th class="dt-head-center">Trạng thái</th>
                    <th class="dt-head-center">Mã phương tiện</th>
                    <th class="dt-head-center">Mã nhân viên</th>
                    <th class="dt-head-center">Tên nhân viên</th>
                    <th class="dt-head-center">loc</th>
            </tfoot>
        </table>

        
        <%- include('layout/chat.ejs') %>

        <%- include('layout/footer.ejs') %>
    </section>
    
    
</body>
    <%- include('layout/scripts.ejs') %>
</html>




